/* Media query for mobile devices */
@media (max-width: 768px) {
  .starttext1 {
    font-size: 20px;
  }
    .starttext2 {
    font-size: 40px;
  }
  .form {
    height: 450px;
  }
  .btn1 {
    margin-top: 0;
  }

}