/* Media query for mobile devices */
@media (max-width: 768px) {
  .starttext1 {
    font-size: 18px;
  }
    .starttext2 {
    font-size: 37px;
  }
  .form {
    height: 430px;
  }
  .btn1 {
    margin-top: 2rem;
  }

}